
    </div>
</div>
</section>

<script>
    function toggleMenu() {
        let toggle = document.querySelector('.A-toggle');
        let navigation = document.querySelector('.A-navigation');
        let main = document.querySelector('.A-main');
        let title = document.querySelector('.A-navigation .A-title .A-header');
        toggle.classList.toggle('A-active');
        navigation.classList.toggle('A-active');
        main.classList.toggle('A-active');
        title.classList.toggle('A-hidden');
    }
</script>

</body>
</html>