 <!-- footer section -->
 <footer>
    <div class="container">
        <div class="sec aboutus">
            <h2>About us</h2>
            <p>Campus hiring is one of the surest, safest and
                probably the easiest alternative for fresh
                graduates who are looking for a job. As and when
                accompany visits any college and declares their
                requirements, the students should be informed
                of it at the earliest. When such information can
                be collected and organized in one single place, it
                increases the convenience for both students and
                the college and also prevents loss of information.
                For this purpose, we intend to develop this
                website.
            </p>
        
            <ul class="sci">
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="sec quickLinks" >
            <h2>Quick Links</h2>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="sec contact"
        style=" width: 40%; ">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>Shavige Malleshwara Hills, 91st Main Rd, 1st Stage, Kumaraswamy Layout <br>Bangalore, KA
                    </span>
                </li>
                <li>
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <p>080 4216 1750</p>
                </li>
                <li>
                    <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <p><a href="mailto:placement@dayanandasagar.edu">placement@dayanandasagar.edu</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<hr>
<div class="copyrightText">
    <p>Copyright © 2021 | Campus Hiring</p>
</div>

</section>

<script>
    const navSlide = () => {
        const burger = document.querySelector('.burger');
        const nav = document.querySelector('.nav-links');
        const navLinks = document.querySelectorAll('.nav-Links li');

        burger.addEventListener('click', () => {
            nav.classList.toggle('nav-active');

            //burger animation
            burger.classList.toggle('toggle');
        });

    }
    navSlide();
    window.onload = function() {
        document.getElementById('content').style.display="block";
        document.getElementById('loader').style.display="none";
    };








//     const form = document.getElementById('Rform');
//     const rnum = document.getElementById('rnum');
//     const name = document.getElementById('name');
//     const email = document.getElementById('email');
//     const password = document.getElementById('password');
//     const cpassword = document.getElementById('cpassword');

//     form.addEventListener('submit', (e) => {
//         e.preventDefault();

//         checkInputs();
//     });

//     function checkInputs() {
//         const StRegNo = rnum.value.trim();
//         const namevalue = name.value.trim();
//         const emailvalue = email.value.trim();
//         const passwordvalue = password.value.trim();
//         const cpasswordvalue = cpassword.value.trim();

//         if(StRegNo === '') {
//             //show error and add error class
//                 setErrorFor(rnum, 'Registration Number cannot be empty');
//         }else {
//             //add success class
//             setSuccessFor(rnum);
//         }

//         if(namevalue === '') {
//             setErrorFor(name, 'Name Required');
//         }else {
//             setSuccessFor(name);
//         }


//         if(emailvalue === '') {
//             setErrorFor(email, 'Email cannot be empty');
//         } else if(!validateEmail(emailvalue)) {
//             setErrorFor(email, 'Invalid Email');
//         }else {
//             setSuccessFor(email);
//         }

//         if(passwordvalue === '') {
//             setErrorFor(password, 'Password Required');
//         }else {
//             setSuccessFor(password);
//         }

//         if(cpasswordvalue === '') {
//             setErrorFor(cpassword, 'Required Field');
//         }else if(cpasswordvalue !== passwordvalue) {
//             setErrorFor(cpassword, "Password is not matching");
//         } else {
//             setSuccessFor(cpassword);
//         }
//     }

//     function setErrorFor(input, message) {
//         const userDetails = input.parentElement; //.user-details
//         const small = userDetails.querySelector('small');

//         //add error message inside small
//         small.innerText = message;

//         //add error class
//         userDetails.className = 'user-details error';
//     }

//     function setSuccessFor(input) {
//     const userDetails = input.parentElement;
//     userDetails.className = 'user-details success';
//     }

//     function validateEmail(email) {
//     const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
//     return re.test(String(email).toLowerCase());
// }








const typedTextSpan = document.querySelector(".typed-text");

const textArray = [`“Choose a job you love, and you will never have to work a day in your life." —Confucius`,
                ' “Work to become, not to acquire." —Elbert Hubbard',
                '“If opportunity does not knock, build a door"',
                '"The best way to predict the future is to create it." —Abraham Lincoln'];
const typingDelay = 150;
const erasingDelay = 50;
const newTextDelay = 4000;

let textArrayIndex = 0;
let charIndex = 0;

function type() {
    if(charIndex < textArray[textArrayIndex].length) {
        typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
        charIndex++;
        setTimeout(type, typingDelay);
    } else {
        //erase
        setTimeout(erase, newTextDelay);
    }
}

function erase() {
    if(charIndex > 0) {
        typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1);
        charIndex--;
        setTimeout(erase, erasingDelay);
    } else {
        //type
        textArrayIndex++;
        if(textArrayIndex >= textArray.length) textArrayIndex = 0;
        setTimeout(type, typingDelay + 1100);
    }
}

document.addEventListener("DOMContentLoaded", function() {
    setTimeout(type, typingDelay +500);
})
</script>

<!-- <script src="text.js"></script> -->


</body>
</html>