 <!-- footer section -->
 <footer>
    <div class="container">
        <div class="sec aboutus">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                 nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                 fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                 officia deserunt mollit anim id est laborum.
            </p>
        
            <ul class="sci">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="sec quickLinks" >
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="sec contact"
        style=" width: 40%; ">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>Dayananda Sagar Institutions,
                        Mallvigge Hills, KS Layout, <br>Bangalore, KA
                    </span>
                </li>
                <li>
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <p><a href="#">+91 880872847</a></p>
                </li>
                <li>
                    <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <p><a href="#">placement@dayanandasagar.edu</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<hr>
<div class="copyrightText">
    <p>Copyright © 2021 | Campus Hiring</p>
</div>

<script>
    const navSlide = () => {
        const burger = document.querySelector('.burger');
        const nav = document.querySelector('.nav-links');
        const navLinks = document.querySelectorAll('.nav-Links li');

        burger.addEventListener('click', () => {
            nav.classList.toggle('nav-active');

            //burger animation
            burger.classList.toggle('toggle');
        });

    }
    navSlide();
</script>

</body>
</html>