<%- include("partials/header.ejs"); -%>

<body>
    <%- include("partials/navbar.ejs"); -%>
    <section id="about">
        <div class="A-container">
            <div class="content-section">
                <div class="title">
                    <h1>About us</h1>
                </div>
            
                <div class="A-content">
                    <h3>
                        Campus hiring is one of the surest, safest and
                    probably the easiest alternative for fresh
                    graduates who are looking for a job. As and when
                    accompany visits any college and declares their
                    requirements, the students should be informed
                    of it at the earliest. When such information can
                    be collected and organized in one single place, it
                    increases the convenience for both students and
                    the college and also prevents loss of information.
                    For this purpose, we intend to develop this
                    website.
                    </h3>
                </div>
                <div class="A-social">
                    <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="A-image">
                <img src="images/about-us.png" alt="aboutUS">
            </div>
        </div>
    </section>
    

</body>
</html>