<%- include("admin/adminleft.ejs"); -%>

        <div class="cardbox">
            <div class="card">
                <div>
                    <div class="numbers"><%= count %></div>
                    <div class="cardName">Registered Students</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-registered" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">NA</div>
                    <div class="cardName">Applied for job</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">NA</div>
                    <div class="cardName">Queries</div>
                </div>
                <div class="iconBox">
                    <i class="fa fa-envelope-open" aria-hidden="true"></i>
                </div>
            </div>
        
        </div>

        <div class="admin-post">
            <h1>Post New Hirings...</h1>
            <form action="/admin1" method="POST">
                <div class="postjob">
                    <span>Company name </span>
                    <input type="text" name="company" placeholder="Eg: Infosys">
                </div>
                <div class="postjob">
                    <span>Eligible departments</span>
                    <input type="text" name="department" placeholder="Eg: BCA">
                </div>
                <div class="postjob">
                    <span>Eligible branches</span>
                    <input type="text" name="branch" placeholder="if any">
                </div>
                <div class="postjob">
                    <span>CGPA / Percentage Required</span>
                    <input type="text" name="percentage" placeholder="Minimum CGPA/Perc">
                </div>
                <div class="postjob">
                    <span>Batch</span>
                    <input type="text" name="batch" placeholder="Eg: 2021 Batch Only">
                </div>
                <div class="postjob">
                    <span>Backlogs</span>
                    <input type="text" name="backlog" placeholder="No current backlogs">
                </div>
                <div class="postjob">
                    <span>Job Location</span>
                    <input type="text" name="location" placeholder="Eg: Pan India">
                </div>
                <div class="postjob">
                    <span>Job Role</span>
                    <input type="text" name="role" placeholder="Eg: Software Engineer">
                </div>
                <div class="postjob">
                    <span>Service Agreement</span>
                    <input type="text" name="agreement" placeholder="If any">
                </div>
                <div class="postjob">
                    <span>Interview Process</span>
                    <input type="text" name="interview" placeholder="Virtual Interview">
                </div>
                <div class="postjob">
                    <span>CTC Offered</span>
                    <input type="text" name="ctc" placeholder="Eg: 3.5lacs">
                </div>
                <div class="postjob">
                    <span>Registration Link</span>
                    <input type="text" name="link" placeholder="paste the registration link here">
                </div>
                <div class="postjob">
                    <span>Description</span>
                    <input class="lastinput" type="text" name="description" placeholder="">
                </div>
                <div class="post-button">
                    <button type="submit">Post</button>
                </div>
                
            </form>
        </div>

<%- include("admin/adminJS.ejs"); -%>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/25fe916b03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/adminpanel.css">

</head>
<body>
    <a href="">
        <span class="A-icon"><i class="fas fa-tachometer-alt"></i></span><span class="A-title">Dashboard</span>
    </a>
    
</body>
</html>

 -->







<!-- <body style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div">
   <img style="height: 40rem; width: 60rem;" src="images/progress.jpg" alt="">
</div>
   <div style="position: absolute;
   top:87%;
   left: 50%;
   transform: translateX(-50%);
   width: 10rem;
   height: 3rem;
   background-color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5rem;">
    <a style="color: #fff;
    text-decoration: none;" href="/">Back Home</a>
</div>
</section>
</body> -->