<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Login</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body id="admin">
    <nav>
        <div class="logo">
            <img class="imgsize" src="images/logo.png" alt="logo">
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="admin_login">Dept Login</a></li>
        </ul>

    </nav>
    <div class="admin_container">
        <div class="admin_image">
            <img src="images/logo.png" alt="">
        </div>
        <div class="admin_form">
            <form action="" method="POST">
                <h2>admin login</h2>
                <input type="text" name="admin_email" placeholder="Admin email">
                <input type="password" name="admin_pass" placeholder="password">
                <button type="submit">Login</button>
            </form>
        </div>
        
    </div>
</body>
</html>