<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | DSI</title>
    <script src="https://use.fontawesome.com/9f119b5c3d.js"></script>
    <link rel="stylesheet" href="css/adminpanel.css">
</head>
<body style="margin: 0;">
    <section class="admin-dashboard">
<div class="A-container">
    <div class="A-navigation">
        <ul>
            <li> 
                <!-- <span><img class="icon" src="images/logo.png" alt=""></span> -->
                <span class="A-title"><h2>Campus Hiring</h2></span>
            </li>
            <li>
                <span class="A-icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                <span class="A-title"><h2>Dashboard</h2></span>
            </li>
            <li>
                <span class="A-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                <span class="A-title"><h2>Students</h2></span>
            </li>
            <li>
                <span class="A-icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                <span class="A-title"><h2>Message</h2></span>
            </li>
            <li>
                <span class="A-icon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                <span class="A-title"><h2>Settings</h2></span>
            </li>
            <li>
                <span class="A-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                <span class="A-title"><h2>Sign Out</h2></span>
            </li>
        </ul>
    </div>
</div>
</section>
</body>
</html>












<!-- 
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div">
   <img style="height: 40rem; width: 60rem;" src="images/progress.jpg" alt="">
</div>
   <div style="position: absolute;
   top:87%;
   left: 50%;
   transform: translateX(-50%);
   width: 10rem;
   height: 3rem;
   background-color: rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5rem;">
    <a style="color: #fff;
    text-decoration: none;" href="/">Back Home</a>
</div>
</section>
</body> -->