<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | DSI</title>
    <script src="https://use.fontawesome.com/9f119b5c3d.js"></script>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <!-- <span><img class="icon" src="images/logo.png" alt=""></span> -->
                    <span class="title"><h2>Campus Hiring</h2></span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                    <span class="title"><h2>Dashboard</h2></span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                    <span class="title"><h2>Students</h2></span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                    <span class="title"><h2>Message</h2></span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                    <span class="title"><h2>Settings</h2></span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="title"><h2>Sign Out</h2></span>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>