<%- include("partials/header.ejs"); -%>

<body>
    <%- include("partials/navbar.ejs"); -%>
    <section id="about">
        <div class="A-container">
            <div class="content-section">
                <div class="title">
                    <h1>Contact us</h1>
                </div>
            
                <div class="A-content">
                    <ul class="info">
                        <li>
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span>Shavige Malleshwara Hills, 91st Main Rd, 1st Stage, Kumaraswamy Layout <br>Bangalore, KA
                            </span>
                        </li>
                        <li>
                            <span><i class="fa fa-phone" aria-hidden="true"></i>
                            080 4216 1750</span>
                        </li>
                        <li>
                            <span><i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <a href="mailto:placement@dayanandasagar.edu">placement@dayanandasagar.edu</a></span>
                        </li>
                    </ul>
                </div>
                <div class="A-social">
                    <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="A-image">
                <img src="images/contactus2.gif" alt="ContactUs">
            </div>
        </div>
    </section>
    

</body>
</html>