<%- include("partials/header.ejs") -%>

<body>
    <div id="loader">
        <img src="images/preloader.gif" alt="">
    </div>
    <section id="content">
    <nav>
        <div class="logo">
            <img class="imgsize" src="images/logo.png" alt="logo">
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>

    <h2 style="font-size: 2rem; 
        text-decoration: underline;
        margin: 5rem 0 3rem 0">Welcome <%= name %>
    </h2>

    <h1 style="text-align: center;
        margin-bottom: 3rem;
        font-size: 5rem;">
            "Nothing to show up here !!!!"
    </h1>

    <h3 style="font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;">
        Please visit regularly to stay updated about new jobs. <br>
        New jobs, if availaible, will show up here.
    </h3>

<%- include("partials/footer.ejs"); -%>