<%- include("partials/header.ejs") -%>

<body>
    <%- include("partials/navbar"); -%>
    <h1 
    style="text-align: center;
            margin: 10rem 0;
            font-size: 7rem;">
            Nothing to show up here !!!!
        </h1>

<%- include("partials/footer.ejs"); -%>