<%- include("partials/header.ejs") -%>

<body>
    <%- include("partials/navbar"); -%>

    <h2 style="font-size: 2rem; 
        text-decoration: underline;
        margin: 5rem 0 3rem 0">Welcome <%= name %></h2>
    <h1 
    style="text-align: center;
            margin-bottom: 3rem;
            font-size: 5rem;">
            "Nothing to show up here !!!!"
        </h1>

        <h3 style="font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;">Please visit regularly to stay updated about new jobs. <br>
        New jobs, if availaible, will show up here.</h3>

<%- include("partials/footer.ejs"); -%>