<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/profile.css">
  <title>My Profile</title>
</head>
<body>
  <nav>
    <div class="logo">
       <a href="#"><img class="imgsize" src="../images/logo.png" alt="logo"></a>
    </div>
    <ul class="nav-links">
        <li><a  href="home">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="sendmsg">Contact Us</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

<div class="bg-img">
  <div class="welcome">
      <h2>Hello <%= name %></h2>
      <p>This is your profile page. You can see your current details registered with us. <br>You can Edit your personal info if found any field wrong.</p> 
  </div> 
</div>
<div class="profile-card">
    <div class="profile-pic">
      <img src="/images/profiledp.png" alt="">
    </div>
    <div class="profile-details">
      <h2>Name : <span class="info"><%= name %></span></h2>
      <h2>Registeration No : <span class="info"><%= regno %></span></h2>
      <h2>Email Address : <span class="info"><%= email %></span></h2>
      <h2>Gender : <span class="info">Male</span></h2>
    </div>
</div>

</body>
</html>