*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

body{
  background-color: aliceblue;
}

nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(1, 34, 63);
  font-family: 'Poppins', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  box-shadow: -2px 2px 19px -4px rgba(0,0,0,0.78);
-webkit-box-shadow: -2px 2px 19px -4px rgba(0,0,0,0.78);
-moz-box-shadow: -2px 2px 19px -4px rgba(0,0,0,0.78);
}

.imgsize {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: 13rem;
}

.nav-links{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.nav-links li{
  list-style: none;
}
.nav-links a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: bold;
  font-size: 12px;
}


.bg-img {
  margin-top: 8vh;
  background-image: url(../images/profile.jpeg);
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.welcome {
    width: 50%;
    padding: 7% 0 0 3%;
}

.bg-img .welcome h2 {
  font-size: 2rem;
  color: #fff;
}

.bg-img .welcome p {
  font-size: 1.3rem;
  color: rgb(203, 203, 203);
}

.profile-card {
  display: flex;
  flex-direction: row;
  height: 40rem;
  width: 70%;
  border: 1px solid #595959;
  margin: auto;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: -2px 2px 43px -2px rgba(0,0,0,0.77);
  -webkit-box-shadow: -2px 2px 43px -2px rgba(0,0,0,0.77);
  -moz-box-shadow: -2px 2px 43px -2px rgba(0,0,0,0.77);;
  margin-top: -2rem;
}

.profile-pic img {
  margin: 30%;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}