
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    height: 100vh;
    background-color: rgb(250, 246, 242);
    font-family: 'open Sans', sans-serif;
}

/* Preloader */
#content {
    display: none;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* NavBar Styling */

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 8vh;
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}


.imgsize {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: 13rem;
}

.nav-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
    
}

.nav-links a{
    color: rgb(31, 30, 30);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: bold;
    font-size: 12px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 80vh;
        top: 8vh;
        background-color:aliceblue;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }

    .nav-links li {
        opacity: 1;
    }

    .burger {
        display: block;
        margin-right: 3rem;
    }

    .imgsize {
        margin-left: 3rem;
    }
}

.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);  
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


/* home */
.bg-image{
    background-image:url(../images/bg1.jpeg);
    filter: blur(5px);
    background-size: cover;
    background-position: center;
    height: 85vh;
    z-index: -1;
    margin-bottom: -80vh;
}
.header{
    height: 80vh;
    display: flex;
    justify-content:space-evenly;
    margin: 8vh 3px 3px;
    
}

.left-part{
    width: 40%;
    margin-top: 5rem;
    z-index: 1;
    margin-left: 4rem;
}


.cursor{
    display: inline-block;
    width: 2px;
    background-color: #ccc;
    margin-left: .1rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { background-color: #ccc; }
    49%{ background-color: #fff;}
    50% { background-color: transparent; }
    99%{ background-color: transparent; }
    100%{ background-color: #ccc; }
}

/* .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    
} */


.heading-primary--sub {
    /* display: block; */
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: #fff;
    margin-top: 2rem;
    
  }

  .right-part {
      height: 55vh;
      width: 30rem;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7) , rgba(240, 248, 255, 0.787));
      border-radius: 1rem;
      margin-top: 3rem;
      margin-left: 7rem;
      z-index: 1;
  }


  .content h1 {
      text-align: center;
      padding: 1rem 0 1.3rem 0;
      border-bottom: 1px solid silver;
  }

  .content form{
      padding: 0 2.3rem;
      box-sizing: border-box;
  }

  form .txt_field {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 2rem 0;
  }

  .txt_field input{
      width: 100%;
      padding: 0 .4rem;
      height: 2.7rem;
      font-size: 1rem;
      border: none;
      background: none;
      outline: none;
  }

  .txt_field label {
      position: absolute;
      top: 50%;
      left: 0.4rem;
      color: #555252;
      transform: translateY(-50%);
      font-size: 1.3rem;
      font-weight: 100;
      pointer-events: none;
      transition: .5s;
  }

  .txt_field span::before {
      content: '';
      position: absolute;
      top: 2.4rem;
      left: 0;
      width: 100%;
      height: 2px;
  }

  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label {
      top: -5px;
      color: #000000;
  }

  input[type="submit"] {
      width: 100%;
      height: 3rem;
      border: 1px solid;
      background: rgb(223, 236, 246);
      border-radius: 1.5rem;
      font-size: 1.1rem;
      color: #363434;
      font-weight: 700;
      cursor: pointer;
      outline: none;
  }

  input[type="submit"]:hover{
      background: #2e2d2d;
      border-color: #000000;
      color: #fff;
      transition: 0.5s;
  }

  .signup_link {
      margin: 1.8rem 0;
      text-align: centre;
      font-size: 1.1rem;
      color: #666;
  }

  .signup_link a{
      color: #3da7d8;
      text-decoration: none;
  }

  .signup_link a:hover{
      text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
      div.header {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .left-part{
        width: 80%;
        margin-top: 3rem;
        margin-right: 1rem;
    }

    .right-part {
        height: 55vh;
        width: 90%;
        background: #fff;
        border-radius: 1rem;
        margin-top: 5rem;
        margin-left: 1.5rem;
        margin-bottom: 5rem;
    }
  }


  /* youtube embeded video */

  .iframe {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 5%;
  }

  div.iframe .text {
    margin-bottom: 2rem;
    color: rgb(31, 29, 29);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }

/* awareness message */

section.awareness {
    box-shadow: 4px 5px 15px #ccc;
    margin: 1rem;
    padding-bottom: 7rem;
    position: relative;
}

  div.aware-guide {
      display: flex;
      height: 70vh;
      padding-top: 10rem;
      padding-left: 4rem;
      justify-content: space-around;
  }

  
  .aware-img {
      height: 40vh;
      width: 30wh;
      border-radius: 50%;
  }

  

  h2.aware-text {
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 800;
    line-height: 5rem;
    text-align: center;
}

.aware-msg {
    width: 50%;
    height: 70%;
    margin-left: 3rem;
    
}

.learn button {
    height: 3rem;
    width: 20%;
    border-radius: 2rem;
    transition: .5s;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
}

.learn button:hover {
    background: black;
} 

.learn button a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    color: black;
    width: 100%;
}

.learn button a:hover{
    color: #fff;
}


/* footer section styles */

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 4rem 8rem;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    flex-direction: row;
}

/* footer .container .sec {
    margin-right: 1.8rem;
} */

footer .container .sec:nth-child(2){
    margin-left: 6rem;
    padding-left: 3rem;
}

footer .container .sec:nth-child(3){
    margin-left: 6rem;
    padding-left: 3rem;
}


footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 1rem;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 4rem;
    height: .15rem;
    background-color: black;
}
footer p {
    color: rgb(46, 44, 44);
}

.sci {
    margin-top: 1.3rem;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
    text-decoration: none;
}

.sci li a .fa{
    color: rgb(46, 44, 44);
    font-size: 1rem;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: rgb(46, 44, 44);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.contact {
    width: calc(35% - 6rem);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 1rem;
}

.contact .info li span:nth-child(1) {
    color: #999;
    font-size: 1.4rem;
    margin-right: 0.7rem;
}

.contact .info li span {
    color: black;
}

.contact .info li a{
    color: black;
    text-decoration: none;

}

.copyrightText{
    width: 100%;
    background-color:aliceblue;
    padding: 0.5rem 6rem;
    text-align: center;
    color: rgb(54, 53, 53);
}


@media (max-width: 991px) {
    footer {
        padding: 2rem;
    }
    footer .container {
        flex-direction: column;
        align-items: center;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .copyrightText{
        padding: 0.5rem 6rem;
    }
    .quickLinks{
        width: 40%;
        margin: 0px;
        padding: 0px;
    }
}


/* Registration form styles */

/* 
section.register {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    align-items: center;
    background: linear-gradient(to right top, rgb(226, 224, 221), rgb(238, 219, 183));
}

div.Rcontainer {
    width: 80%;
    max-width: 1000px;
    background: #fff;
    padding: 1.4rem 1.8rem;
    border-radius: .5rem;
}

.Rcontainer .title {
    font-weight: 500;
    position: relative;
    margin: 1rem 0;
    padding: 2rem 0;
}

.Rcontainer .title h1 {
    text-align: center;
    font-size: 2.3rem;
    text-decoration: underline;
} */


  section.register {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    align-items: center;
    background: linear-gradient(to right top, rgb(226, 224, 221), rgb(238, 219, 183));
    margin: 8vh 3px 3px;
    min-height: 80vh;
}

div.Rcontainer {
    width: 50%;
    max-width: 1000px;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.Rcontainer .title {
    font-weight: 500;
    margin: 1rem 0;
    padding: 1.2rem 2rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
}

.Rcontainer .title h1 {
    text-align: center;
    font-size: 2.3rem;
    text-decoration: underline;
}

#Rform{
   padding: 2rem 2.5rem;
}

.user-details {
    padding-bottom: 1.2rem;
    margin-bottom: .6rem;
    position: relative;
}

.user-details label {
    display: inline-block;
    margin-bottom: 5px;
}

.user-details input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.success input {
    border-color: #2ecc71;
}

.error input {
    border-color: #e74c3c;
}

.user-details i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.error i.fa-exclamation {
    color: #e74c3c;
    visibility: visible;
}

.user-details.error small {
    color: #e74e3c;
    visibility: visible;
}


.user-details small {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
}


.user-details {
    display: flex;
    flex-wrap: wrap;
    margin: 1.2rem 0 .8rem 0;
}


.input-box {
    margin-bottom: 3rem;
    width: calc(100% / 2 - 1.4rem);
}

.input-box .details {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input {
    height: 3rem;
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: .9rem;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all .5s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: rgb(191, 219, 243) ;
}

.gender-details .category {
    display: flex;
    width: 80%;
    margin: 1rem 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 1rem;
    width: 1rem;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all .5s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    border-color: #d9d9d9;
    background: #1c1c1c;
}

form input[type="radio"] {
    display: none;
}

@media (max-width: 584px) {
    .Rcontainer {
        max-width: 100%;
    }

    .input-box {
        margin-bottom: 3rem;
        width: 100%;
    }

    .gender-details .category {
        width: 100%;
    }

    .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 0;
    }
}

/* Admin Login Stylesheet */

#admin {
    margin: 2px;
}
  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, aliceblue, rgb(172, 211, 245));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.027)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(5rem);
    display: flex;
  }
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.829),
      rgba(255, 255, 255, 0.5)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 5%;
    right: 7%;
  }
  .circle2 {
    bottom: 5%;
    left: 5%;
  }
  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(240, 248, 255, 0.698),
      rgba(190, 195, 199, 0.37)
    );
    border-radius: 2rem;
  }
  

  .admin_logo{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }

  .admin_form {
    background: linear-gradient(to right top, #fff, rgb(188, 212, 233));
    border-radius: 2rem;
    padding: 1rem;
    position: relative;
    width: 50%;
    height: 50vh;
    margin-right: .5rem;
    margin-left: 3rem;
    box-shadow: 5px 5px 5px #888888;
  }
  
  
  
  
  div.dashboard div.admin_form h2 {
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    margin-top: 3rem;
  }
  
  div.dashboard div.admin_form input {
    border: none;
    outline: none;
    border-radius: 1rem;
    width: 80%;
    border-bottom: 2px solid #1c1c1e;
    margin-top: 1.5rem;
    padding: .8rem 0;
    font-size: 1.3rem;
  }
  
  div.dashboard div.admin_form button {
    color: #fff;
    background-color: #313133;
    border: none;
    outline: none;
    border-radius: 2rem;
    font-size: 1rem;
    padding: .8rem 12px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2rem;
    width: 50%;
  }

  div.dashboard div.admin_form button:hover{
      background-color: #000;
  }
  
  div.home {
    position: absolute;
    top:87%;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 3rem;
    background-color: rgb(46, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
  }

  div.home:hover{
      background-color: #000;
  }
  
  div.home a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
  }
  

@media only screen and (max-width: 500px) {
    div.dashboard {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div.dashboard div.admin_form {
        width: 17rem;
        margin-top: 2rem;
    }

    div.dashboard div.admin_form h2{
        margin-top: 2rem;
        text-align: center;
    }

    div.dashboard div.admin_form button{
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 2rem;
    }
  }


















